/*-- scss:defaults --*/
$theme: "cosmo" !default;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

$headings-font-family: "ubuntu", sans-serif;
$font-family-base: "roboto", sans-serif;
$font-family-sans-serif: "roboto", sans-serif;

/*-- Additional custom styles --*/
p {
  font-family: $font-family-sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Logo */
.logo-institution {
  height: 72px;
}
