/* css styles */
  .logo-institution {
    height: 72px;
  }

html {
  scroll-behavior: smooth;
}

#hero-banner {
padding-top: 35px;
background-color: rgb(237,243,249);
}

#quarto-content main {
margin-top: 0;
padding-top: 0;
}

.headline {
  font-size: 1.25em;
  font-weight: 300;
  padding-bottom: 1em;
}

.headline p {
  margin: 0;
  padding-bottom: 0.5rem;
}

/* Forms */
  form {
    margin: 1em 0.5em;
  }

/* from https://github.com/r-lib/pkgdown/blob/51268b0d9cb0588d7a6404a2b8ef4ee19c435e89/inst/assets/BS4/pkgdown.css */
  .algolia-autocomplete {
    width: 100%;
  }
.algolia-autocomplete .aa-hint {
  color: #999;
}
.algolia-autocomplete .aa-dropdown-menu {
  width: max(100%, 20rem);
  background-color: #fff;
    border: 1px solid var(--gray);
  border-radius: 0.2rem;
  margin-top: 2px;

  max-height: 50vh;
  overflow-y: auto;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
  cursor: pointer;
  padding: 5px 4px;
  border-bottom: 1px #ddd solid;
  /* font-size: 0.9rem; */
    color: #5E5E5E;

}

.search-details {
  /* font-size: 0.9rem; */
    color: #0054AD;
    display: inline;
  font-weight: bolder;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
  background-color: #B2D7FF;
}
